.bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 32px;
}

.form-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-label {
  width: 100%;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: bold;
}

.input {
  font-family: 'Martel';
  color: #212529;
  font-size: 12px;
  border-radius: 4px;
  height: 32px;
  width: calc(100% - 16px);
  margin-bottom: 22px;
  padding: 0 8px;
  outline: none;
  border: 1px solid #EEE;
  outline: none;
  transition: border .3s ease;
}
.input:focus {
  border-color: #FFF;
  border: 1px solid #212529;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.button {
  box-shadow: none;
}

/* CSS */
.button {
  align-self: flex-end;
  background-color: #EEE;
  border: 1px solid #212529;
  border-radius: 8px;
  font-size: 16px;
  line-height: 16px;
  height: 40px;
  font-weight: bold;
  font-family: 'Martel';
  cursor: pointer;
  outline: none;
  padding: 0px 14px;
  padding-top: 2px;
  text-align: center;
  transition: all .3s ease;
  user-select: none;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  background-color: #212529;
  color: #EEE;
}

.button:active {
  box-shadow: none;
}